/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
}

.w-100 {
  width:100%;
}
.w-90 {
  width:50%;
}
.w-80 {
  width:50%;
}
.w-70 {
  width:50%;
}
.w-60 {
  width:50%;
}
.w-50 {
  width:50%;
}
.w-40 {
  width:50%;
}
.h-100 {
  height:100%;
}
/*
Earth To Sky Bootstrap Carousel Approach CSS
*/
.carousel-inner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    top: 0;
}
.carousel-inner h2 {
  color: #fff;
  text-align: center;
}
.carousel-inner p {
  color: #fff;
  font-size: 18px;
  margin: 36px 0 24px;
  line-height: 1.35;
}
.container .carousel {
    width: 100%;
    height: 100%;
    position: relative;
}
.carousel-static-background,
.absolute-full-cover-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.absolute-full-cover-container.blue-vert-50-50,
.absolute-full-cover-container.blue-circle-right {
    background-image: url(../img/assets/part_1_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.quote-background {
    background-image: url(../img/assets/quotes_area.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blue-circle-background {
    background-image: url(../img/assets/circular_area.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.half-height,
.container .carousel .item-container.half-height {
    height: 50%;
    top: initial;
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
}
.absolute-align-bottom,
.container .carousel .item-container.absolute-align-bottom {
    top: auto;
    bottom: 0;
}
.absolute-align-top, 
.container .carousel .item-container.absolute-align-top {
    top: 0;
    bottom: auto;
}
.carousel-inner .item {
    height: 100%;
}
.container .carousel .item-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 12%;
}

.container .carousel .item-container .h1 {
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}
.container .carousel .item-container .main-content {
    font-size: 18px;
    line-height: 1.4;
    color: #fff;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quote {
    color: #f5eb8e;
    font-style: italic;
    text-align: right;
    padding: 0 0 0 12%;
    font-size: 18px;
}
.quote span {
    display: block;
    margin: 0 0 5% 0;
}
.d-flex .quote {
    width: 52%;
}
.d-flex .display-image {
    width: 44%;
}
.display-image {
    padding: 2% 0 4% 0;
    height: 100%;
}
.display-image img {
    height: 100%;
    width: auto;
}

.mobile .container .carousel {
    width: 100vw;
    height: 100vh;
}
.mobile .container .carousel .item-container {
    width: 100vw;
    height: 100vh;
    padding: 0 12vw;
}
.mobile .quote {
    padding: 0 0 0 12vw;
}
.mobile .quote span {
    margin: 0 0 5vh 0;
}
.mobile .carousel-static-background.half-width div {
    width: 48vw;
}
.mobile .carousel-static-background.half-width .quote {
    width: 52vw;
}
.mobile .carousel-static-background.half-width .display-image {
    width: 44vw;
}
.mobile .container .carousel .item-container .h1 {
    font-size: 1.2rem;
}
.mobile .container .carousel .item-container .main-content {
    font-size: 12px;
}
.mobile .quote {
    font-size: 12px;
}
.header {
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #011f3a;
    width: 100%;
    align-items: center;
    padding: 0 12%;
}
.header .logo {
    height: 100%;
    padding: 6px 0;
    position: relative;
    width: 60px;
}
.header .logo img {
    height: 100%;
    width: auto;
}
.header .header-title {
    color: #ffffff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.header button#hamburger-menu .hamburger-container {
    position: relative;
    padding: 8px 10px;
    border-radius: 6px;
}
.header button#hamburger-menu.btn.focus, 
.header button#hamburger-menu.btn:focus, 
.header button#hamburger-menu.btn:hover {
    color: rgb(44 79 122);
    text-decoration: none;
    outline: 4px;
    outline-style: solid;
    outline-color: rgba(44, 79, 122,.8);
    outline-offset: unset;
}
#nav-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--grey-6);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    border-radius: 2px;
}
#nav-icon3 span {
    background: #ffffff;
    border-radius: unset;
}
#nav-icon3 span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
}
#nav-icon3 span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
}
#nav-icon3 span:nth-child(3) {
    -webkit-transform: rotate( -45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate( -45deg);
    top: 9px;
}
#nav-icon3 span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
}
.collapsed #nav-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 100%;
    left: 0;
}
.collapsed #nav-icon3 span:nth-child(2), 
.collapsed #nav-icon3 span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.collapsed #nav-icon3 span:nth-child(4) {
    top: 18px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 100%;
    left: 0;
}
.btn {
    background-color: transparent;
    border: 1px solid transparent;
}
.carousel-arrow-right, 
.carousel-arrow-left {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #ffffff;
    border-radius: 14px 0 0 14px;
    padding: 30px 10px;
    width: 48px;
}
.carousel-arrow-left {
    right: auto;
    left: 0;
    border-radius: 0 14px 14px 0;
}
.carousel-arrow-right img, 
.carousel-arrow-left img {
    height: 45px;
}
.carousel-arrow-left img {
    transform: rotate(180deg);
}
.carousel-control.right, 
.carousel-control.left {
    background-image: none!important;
}
.carousel-indicators {
    margin: 0!important;
    bottom: auto;
    opacity: .2;
    left: 0!important;
    width: auto;
    top: -2px;
}
.carousel-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255,255,255,.5);
    border-radius: 14px 14px 0 0;
    padding: 10px 30px;
}
.carousel-pagination span {
    color: #00102e;
    font-size: 24px;
    text-shadow: 1px 1px rgb(255 255 255 / 10%);
}
.carousel-pagination span.concat-spacer {
    padding: 0 4px;
}
@media screen and (orientation: portrait) {
  html.mobile {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
  
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*
Earth To Sky Bootstrap Carousel Approach CSS - END
*/

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

